[Unit]
Description=TPC VModem virtual Hayes modem
Requires=pigpiod.service
After=network.target pigpiod.service

[Service]
Type=simple
WorkingDirectory=/opt/vmodem
ExecStart=/bin/bash /opt/vmodem/vmodem.sh
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
