# TPC-VModem - systemd service
# Gianpaolo Del Matto (THE PHINTAGE COLLECTOR), 2026
#
# License: Creative Commons Attribution-NonCommercial-ShareAlike 4.0
# https://creativecommons.org/licenses/by-nc-sa/4.0/

[Unit]
Description=TPC-VModem virtual Hayes modem
Requires=pigpiod.service
After=network.target pigpiod.service

[Service]
Type=simple
WorkingDirectory=/opt/vmodem
ExecStart=/bin/bash /opt/vmodem/vmodem.sh
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
